
<div fxLayout="row" fxLayoutAlign="center center" >

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email:">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password:">
    </mat-form-field>

    <button mat-button>Submit</button>

  </form>

</div>
