
<div fxLayout="row" fxLayoutAlign="center center" >

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form" novalidate>
    <mat-form-field class="example-full-width">
      <input formControlName="emailFormControl" placeholder="Email:" matInput>
      <mat-error *ngIf="loginForm.controls.emailFormControl.invalid">
        Please enter a <strong>valid</strong> email address
      </mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput formControlName="passwordFormControl" type="password" placeholder="Password:">
      <mat-error *ngIf="loginForm.controls.passwordFormControl.invalid">
        Password is <strong>required</strong> (8 characters min)
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit"> Submit </button>

  </form>

</div>
