<div fxLayout="row" fxLayoutAlign="center center" >

  <form class="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput
             type="number"
             placeholder="Superannuation (%):"
             value=9.5
             #super/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput
             type="number"
             placeholder="Income Amount:"
             #income/>
    </mat-form-field>

    <mat-radio-group class="full-width">
      <mat-radio-button (click)="onSelectGross(0)" value="0">Gross</mat-radio-button><br/><br/>
      <mat-radio-button (click)="onSelectGross(1)" value="1">Gross AND Super</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="full-width">
      <mat-select placeholder="Tax Rates Year:">
        <mat-option (click)="onSelectYear(year)" *ngFor="let year of Years">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field><br/><br/>

    <button mat-raised-button
           (click)="calculateTax(super.value, income.value)"
           type="submit">
      Calculate
    </button>
    <button mat-button [routerLink]="['/dash']">View tax history</button>
  </form>
</div>
