<div fxLayout="row" fxLayoutAlign="center center" >
  <button mat-raised-button  [routerLink]="['/add-data']">Add data!</button>
</div>

<div fxLayout="row" fxLayoutAlign="center center" >

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="superPercentage">
      <th mat-header-cell *matHeaderCellDef> Super (%) </th>
      <td mat-cell *matCellDef="let element"> {{element.superPercentage}} </td>
    </ng-container>

    <ng-container matColumnDef="super">
      <th mat-header-cell *matHeaderCellDef> Super Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.super}} </td>
    </ng-container>

    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef> Income </th>
      <td mat-cell *matCellDef="let element"> {{element.income}} </td>
    </ng-container>

    <ng-container matColumnDef="gross">
      <th mat-header-cell *matHeaderCellDef> Gross </th>
      <td mat-cell *matCellDef="let element"> {{element.gross}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Gross Type </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.type==0"> Gross & Super</div>
        <div *ngIf="element.type==1"> Gross </div>
    </ng-container>

    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef> Tax Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.tax}} </td>
    </ng-container>

    <ng-container matColumnDef="net">
      <th mat-header-cell *matHeaderCellDef> Net Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.net}} </td>
    </ng-container>

    <ng-container matColumnDef="netPlusSuper">
      <th mat-header-cell *matHeaderCellDef> Net + Super Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.netPlusSuper}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
